*{
    margin: 0;
    padding: 0;
}
.card{
	position: relative;
	display: inline-block;
	height: 200px;
	width: 220px;
	margin: 10px;
}
#hover_img{
	display: inline-block;
	position: absolute;
	width: 220px;
}
img{
	width: 220px;
}
.modal_div{
    background-color:rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: none;
}
.modal_img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
.modal_div:target{
    opacity: 1;
	display: block;
}
.close_anchor{
    float: right;
    color: black;
    opacity: .8;
    text-decoration: none;
    font-size: 36px;
}
.description{
    display: inline-block;
    visibility: collapse;
    font-size: 14px;
    text-align: justify;
    vertical-align: top;
}

.hover_anchor:hover ~ #hover_img{
    box-shadow: 0 0 5px 5px #cecece;
    z-index: 4;
}
.hover_anchor:hover ~ .description{
    box-shadow: 0 0 5px 5px #cecece;
    visibility: visible;
    background-color: white;
}

header{
    text-align: center;
}
footer{
    position: fixed;
    bottom: 5%;
    left: 47%;
}

#p1 {	
	position: fixed;
	bottom: 70%;
	left: 23%;
	margin: 5px;
}
#p2 {
	position: fixed;
	bottom: 70%;
	left: 25%;
	margin: 5px;
}
#p3 {
	position: fixed;
	bottom: 70%;
	left: 27%;
	margin: 5px;
}
#p1:checked ~ article:nth-of-type(5){
    display: none;
}
#p1:checked ~ article:nth-of-type(6){
    display: none;
}
#p1:checked ~ article:nth-of-type(7){
    display: none;
}
#p1:checked ~ article:nth-of-type(8){
    display: none;
}
#p1:checked ~ article:nth-of-type(9){
    display: none;
}
#p1:checked ~ article:nth-of-type(10){
    display: none;
}
#p2:checked ~ article:nth-of-type(1){
    display: none;
}
#p2:checked ~ article:nth-of-type(2){
    display: none;
}
#p2:checked ~ article:nth-of-type(3){
    display: none;
}
#p2:checked ~ article:nth-of-type(8){
    display: none;
}
#p2:checked ~ article:nth-of-type(9){
    display: none;
}
#p2:checked ~ article:nth-of-type(10){
    display: none;
}
#p3:checked ~ article:nth-of-type(1){
    display: none;
}
#p3:checked ~ article:nth-of-type(2){
    display: none;
}
#p3:checked ~ article:nth-of-type(3){
    display: none;
}
#p3:checked ~ article:nth-of-type(4){
    display: none;
}
#p3:checked ~ article:nth-of-type(5){
    display: none;
}
#p3:checked ~ article:nth-of-type(6){
    display: none;
}
input[type="radio"]{
    z-index: 0;
}