*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-basis: 1020px;
    flex-shrink: 0;
}
.main{
    width: 1020px;
    min-width: 1020px;
    max-width: 1020px;
    height: 1650px;
    border: 18px solid #fff;
    background-color: #f6f5f3;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/*???*/
.main__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo{
    width: 165px;
    height: 130px;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    margin-left: 758px;

}

/*-----старт галерея-----*/
.main__gallery{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-arrow, .right-arrow{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    border-radius: 50%;
    background-color: #ffdb4a;
    box-shadow: 2px 2px 1px rgba(255, 90, 0, .8);
}
.left-arrow{
    background-image: url(./img/left-arrow.png);
    margin-right: 40px;
}
.right-arrow{
    background-image: url(./img/right-arrow.png);
    margin-left: 40px;
}
.left-arrow:hover, .right-arrow:hover, .play-circle:hover{
    opacity: .8;
}
.window{
    width: 650px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.window p{
    font-weight: normal;
    font-size: 36px;
    color: #000;
    text-indent: -20px;
}
.window img{
    align-self: flex-start;
}
/*-----конец галерея-----*/

/*-----старт видео-----*/
.main__video{
    margin-top: 60px;
    width: 640px;
    height: 360px;
    position: relative;
}
.main__video *{
    margin-top: 0;
}
.video{
    position: absolute;
    background-image: url(./img/video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
}
.title{
    position: absolute;
    width: 640px;
    height: 50px;
    text-align: center;
    background-color: rgba(41, 54, 60, .7);
}
.title p{
    font-size: 29px;
    font-weight: normal;
    color: #fff;
    line-height: 50px;
}
.play-circle{
    position: absolute;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #ffdb4a;
    box-shadow: 2px 2px 1px rgba(255, 90, 0, .8);
    background-image: url(./img/icon_play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/*-----конец видео-----*/

.main__first-text{
    margin-top: 70px;
    font-size: 47px;
    color: #000;
    font-weight: normal;
}

/*-----старт карточек-----*/
.main__choice{
    margin-top: 50px;
}
.main__choice *{
    margin-top: 0;
}
.main__choice.wrapper{
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card{
    width: 240px;
    height: 310px;
}
.card__img-1{
    width: 140px;
    height: 85px;
    background-image: url(./img/icon_book.png);
    background-repeat: no-repeat;
    background-position: left;
    background-clip: padding-box;
}
.card__title-1{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
}
.card__p-1{
    margin-top: 25px;
    font-size: 16px;
    font-weight: normal;
}
.card__img-2{
    width: 100px;
    height: 85px;
    background-image: url(./img/icon_search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-clip: padding-box;
}
.card__title-2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
}
.card__p-2{
    margin-top: 25px;
    font-size: 16px;
    font-weight: normal;
}
.card__img-3{
    width: 200px;
    height: 85px;
    background-image: url(./img/icon_choice.png);
    background-repeat: no-repeat;
    background-position: left;
    background-clip: padding-box;
}
.card__title-3{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card__p-3{
    margin-top: 25px;
    font-size: 16px;
    font-weight: normal;
}
.card__img-4{
    width: 175px;
    height: 85px;
    background-image: url(./img/icon_simple-lang.png);
    background-repeat: no-repeat;
    background-position: left;
    background-clip: padding-box;
}
.card__title-4{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
}
.card__p-4{
    margin-top: 25px;
    font-size: 16px;
    font-weight: normal;
}
/*-----конец карточек-----*/

.main__second-text{
    font-size: 42px;
    font-weight: normal;
    color: #000;
}

.main__button{
    margin-top: 50px;
    width: 320px;
    height: 70px;
    font-size: 36px;
    font-weight: normal;
    color: #473e0d;
    background-image: linear-gradient(180deg, #ffe34a 0%, #ffdb00 100%);
    border: none;
    border-radius: 10px;
}
.main__button:hover{
    opacity: .82;
}